@page

@{
   ViewData["Title"] = "Home Page";
}
<style>  
 .background-style {  
   background-image: url('/media/veggie.png');  
   background-size: cover;  
   background-repeat: no-repeat;  
   background-position: center;  
   height: 100vh;  
   display: flex;  
   align-items: center;  
   justify-content: center;  
   background-color: wheat;
 }  
</style>  

<div class="home-page">
	<div class="text-center">
		<h1 class="display-4">Welcome to GardenVariety!</h1>
		<p>Explore your gardens and harvests.</p>
	</div>
</div>
<div class="background-style">
</div>

@model IndexModel
