@page  
@model PrivacyModel  
@{  
   ViewData["Title"] = "Privacy Policy";  
}  
<head>  
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
   <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />  
   <link rel="stylesheet" href="~/GardenVariety.styles.css" asp-append-version="true" />  
</head>  
<style>  
   body {  
       font-family: Arial, sans-serif;  
       margin: 0;  
       padding: 0;  
       text-align: center; 
       background-color: wheat;
   }  
   .content {  
       padding: 20px;  
   }  
   .image-container {  
       display: flex;  
       justify-content: center;  
       align-items: center;  
       margin-top: 20px;  
   }  
   .image-container img {  
       max-width: 80%;  
       height: auto;  
       border-radius: 10px;  
   }  
</style>  
<h1>@ViewData["Title"]</h1>  

<div class="content">  
   <p>This page takes no responsibility for lost or stolen information. Neither does it take responsibility for misused data.</p>  

   <div class="image-container">  
       <img src="~/media/privacy.png" alt="Privacy Policy Image" />  
   </div>  
</div>
