@page  
@model GardenVariety.Pages.Gardens.CreateModel  
<head>  
   <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />  
   <link rel="stylesheet" href="~/GardenVariety.styles.css" asp-append-version="true" />  
</head>  
       
@{  
   ViewData["Title"] = "Create";  
}  
       
<h1>Create</h1>  
	
<h4>Garden</h4>  
<hr />  
<div class="row">  
   <div class="col-md-4">  
      <form method="post">  
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
          <div class="form-group">  
              <span class="text-danger">*</span>  
              <label asp-for="Garden.Name" class="control-label"></label>  
              <input asp-for="Garden.Name" class="form-control" />  
              <span asp-validation-for="Garden.Name" class="text-danger"></span>  
          </div>  
          <div class="form-group">  
              <label for="type">Type</label>  
              <select class="form-control" asp-for="Garden.Type">  
                  <option value="">Select Type</option>  
                  @foreach (var type in Model.GardenTypeNames)  
                  {  
                      <option value="@type">@type</option>  
                  }  
              </select>  
              <span asp-validation-for="Garden.Type" class="text-danger"></span>  
          </div>  
          <div class="form-group">  
              <label asp-for="Garden.Quantity" class="control-label"></label>  
              <input asp-for="Garden.Quantity" class="form-control" />  
              <span asp-validation-for="Garden.Quantity" class="text-danger"></span>  
          </div>  
          <div class="form-group">  
              <label asp-for="Garden.PlantingDate" class="control-label"></label>  
              <input asp-for="Garden.PlantingDate" class="form-control" />  
              <span asp-validation-for="Garden.PlantingDate" class="text-danger"></span>  
          </div>  
          <div class="form-group">  
              <label asp-for="Garden.Notes" class="control-label"></label>  
              <input asp-for="Garden.Notes" class="form-control" />  
              <span asp-validation-for="Garden.Notes" class="text-danger"></span>  
          </div>  
          <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn btn-create" />
            </div>
        </form>  
   </div>  
</div>  

<div>  
   <a asp-page="Index">Back to List</a>  
</div>  

@section Scripts {  
   @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}  
}
